@model IEnumerable<HomeWorkWeek1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>客戶資料管理</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>


@using (Html.BeginForm("Index", "客戶資料", FormMethod.Get))
{
    <p>
        <text>客戶名稱</text>
        <input type="search" name="keyword" placeholder="請輸入客戶名稱" value="" />
        <text>客戶分類</text>
        <select name="drpCategory">
            <option value="">請選擇</option>
            <option value="北區客戶">北區客戶</option>
            <option value="中區客戶">中區客戶</option>
            <option value="南區客戶">南區客戶</option>
        </select>
        <input type="submit" value="搜尋" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.客戶名稱)*@
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.客戶名稱SortParm })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.統一編號))*@
            @Html.ActionLink("統一編號", "Index", new { sortOrder = ViewBag.統一編號SortParm })
       </th>
        <th>
            @*@Html.DisplayNameFor(model => model.電話)*@
            @Html.ActionLink("電話", "Index", new { sortOrder = ViewBag.電話SortParm })
        </th>
        <th>
             @*@Html.DisplayNameFor(model => model.傳真)*@
            @Html.ActionLink("傳真", "Index", new { sortOrder = ViewBag.傳真SortParm })
        </th>
        <th>
              @* @Html.DisplayNameFor(model => model.地址)*@
            @Html.ActionLink("地址", "Index", new { sortOrder = ViewBag.地址SortParm })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Email)*@
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.客戶分類)*@
            @Html.ActionLink("客戶分類", "Index", new { sortOrder = ViewBag.客戶分類SortParm })
        </th>

        <th></th>
        </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.統一編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.電話)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.傳真)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.地址)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶分類)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("詳細資料", "Details", new { id = item.Id }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
